services:
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: padzzzer18flot18vk
      POSTGRES_DB: adsdb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 5s
      retries: 10
      start_period: 10s

  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      POSTGRES_HOST: db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: padzzzer18flot18vk
      POSTGRES_DB: adsdb
      POSTGRES_PORT: 5432
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure:10

volumes:
  pgdata: